<!DOCTYPE html>
<html>

<body>

    <h2>HTML Forms</h2>

    <form action="./reg" method="POST">improve
        <label for="p_name">First name name name :</label> <br>
        <input type="text" id="p_name" name="p_name" value="John"><br>
        <label for="id_number">Id number:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>

</html>